/server/StarboundAcesSFS/nbproject/private/
client/Library/metadata/
client/Temp/
client/Library/
client/Assembly-CSharp-firstpass-vs.csproj
client/Assembly-CSharp-firstpass.csproj
client/Assembly-CSharp-vs.csproj
client/Assembly-CSharp.csproj
client/Assembly-UnityScript-firstpass-vs.unityproj
client/Assembly-UnityScript-firstpass.unityproj
client/Library/AssetServerCacheV3
client/Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll.mdb
client/Library/ScriptAssemblies/Assembly-UnityScript-firstpass.dll.mdb
client/Library/assetDatabase3
client/Library/guidmapper
client/client-csharp.sln
client/client.sln
/server/StarboundAcesSFS/dist/
/server/StarboundAcesSFS/build/
client/test01_Data/output_log.txt
client/Build_x64/
client/WebPlayer/
/server/superlite/nbproject/private/